<aside id="sidebar" class="sidebar">
  <div class="d-flex align-items-center justify-content-center mb-4">
    <img src="assets/img/NORLANKA PULSE LOGO.png" width="100" alt="">
  </div>
  <ul class="sidebar-nav" id="sidebar-nav">
       <li class="nav-item"> <a class="nav-link " routerLink="/dashboard"> <i class="bi bi-grid"></i> <span>Dashboard</span> </a></li>
       <li class="nav-item"> <a class="nav-link " routerLink="/forecast"> <i class="bi bi-bar-chart-line"></i> <span>Forecast</span> </a></li>
       <li class="nav-item"> <a class="nav-link " routerLink="/predict"> <i class="bi bi-pie-chart"></i> <span>Predict</span> </a></li>
    </ul>
 </aside>
