<aside id="sidebar" class="sidebar">
  <div class="d-flex align-items-center justify-content-between mb-4"> <a routerLink="/dashboard" class="logo d-flex align-items-center center"> <img src="assets/img/logo.png" alt=""> <span class="d-none d-lg-block"></span> </a></div>
  <ul class="sidebar-nav" id="sidebar-nav">
       <li class="nav-item"> <a class="nav-link " routerLink="/dashboard"> <i class="bi bi-grid"></i> <span>Dashboard</span> </a></li>
       <li class="nav-item"> <a class="nav-link " routerLink="/forms/forecast"> <i class="bi bi-envelope-exclamation"></i> <span>Forecast</span> </a></li>
    </ul>
 </aside>
